{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
{{form_title}}
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'bg_image.css' %}" />
<style>
    form .alert ul li {
        list-style: none;
    }

    form .alert ul {
        padding: 0;
        margin: 0;
    }
</style>
{% endblock %}

{% block content %}
<div class="row h-100 justify-content-center align-items-center p-3">
    <div class="col-md-5 m-3">
        <h1 class="text-primary mb-1">{{form_title}}</h1>
        <br>
        {% crispy form %}
        {% endif %}
        {% if uploaded_file_url %}
            <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}